@import "tailwindcss";

* {
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  user-select: none;
}

body {
  overflow: hidden;
  height: 100dvh;
}

#root {
  height: 100dvh;
  overflow: hidden;
}
